
2020salaryinfo.csv
2020Accrued.csv
2020DraftResults.csv
*.xlsx
*.csv
*.json
*.jpg
*.pdf
*.xls
*.ods
scrape.html
scripts/pullSteamerr.sh
*.html
code/.Rhistory
fangraphs.xml
ProtectionTrades/.Rhistory
code/.Rhistory
code/.Rhistory
code/.Rhistory
